body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.image {
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
}

.sidebar {
    width: 250px;
    height: 140px;
    background-color: aqua;
    float: right;
}

.sidebar h2 {margin: 8px;}